[remap]

importer="texture_array"
type="TextureArray"
path=""
metadata={
"vram_texture": false
}

[deps]

source_file="%SOURCE_FILE%"
dest_files=[ "" ]

[params]

compress/mode=0
compress/no_bptc_if_rgb=false
flags/repeat=0
flags/filter=true
flags/mipmaps=true
flags/srgb=2
slices/horizontal=%GRID_SIZE%
slices/vertical=%GRID_SIZE%
